---
layout: home
main_image_path:
main_image_caption:
show_carousel: false
show_blog: false
posts_number: 2
carousel:
  - image:
    caption:
    alink:
_options:
  layout:
    hidden: true
  image_path:
    uploads_dir: "assets/images/:year"
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  main_image_path:
    uploads_dir: "assets/images/:year"
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  content:
    uploads_dir: "assets/:year"
_comments:
  main_image_path: Cover image
  main_image_caption: Alt text for cover image
  carousel: Edit the slideshow
  show_carouse: Show the slideshow
  show_blog: Show your latest posts on the homepage
  posts_number: How many posts to show
  alink: Optional web link from the slide
  caption: optional caption
---


<p class="initial">Welcome to treatments of Reflexology, Reiki healing and Homeopathy provided by an experienced and registered practitioner of complementary medicine.<br><br>
Lizzie Austin MAR, RSHom</p>
<section class="columns">
  <div class="two-thirds">
    <p>As a qualified practitioner of Homeopathy for many years, I trained more recently in Reflexology and Reiki, and have been amazed at the results. </p>
    <p>I have therefore increased my focus on reflexology both of the feet and the face; also using crystals with reflexology; as well as combining Reiki healing with reflexology treatments.</p>
    <p>My website will offer information about how these therapies may help you, your family and your friends achieve greater health, wellbeing and relief from stress.</p>
    <p><strong>Not sure if Reflexology or Homeopathy can help you?</strong><br>
    Call me for honest, professional advice on <a href="tel:07780-542068">07780 542068</a></p>

    <p>People often seek help from reflexology, homeopathy, reiki or other complementary therapies as a form of prevention, as well as for existing conditions previously diagnosed by their medical practitioner. I will always direct patients to their medical practitioner or GP whenever necessary in order to have tests or discuss options.</p>
  
  <p><a href="/contact/">Contact Lizzie Austin</a> MAR, RSHom for professional advice about reflexology, reiki and homeopathy healing in Oxford.<br>
    (MAR, <a href="https://www.homeopathy-soh.org/" target="new">RSHom</a>: your guarantee of a trained, registered, insured healthcare professional)</p>
  <p><strong>The WellBeing Clinic</strong><br />
      1 Windmill Road, Headington<br />
      Oxford OX3 7BL<br />
      Tel: 01865-751111 / 794363</p>

    <blockquote>
      <p>I have been fortunate enough to experience Lizzie Austin as a Homeopath, a Reflexologist, and a Reiki practitioner. In all three therapies she has been enormously helpful and effective. She is skilled at getting to the very heart of what a patient needs, and has a calming, loving presence that enhances the chosen mode of therapy. I unreservedly recommend her.</p>
      <cite>Lesley Hayes</cite>
    </blockquote>

  </div>
  <div class="one-third">
    
    <figure><img src="/assets/images/elizabeth_austin.jpg" width="195" height="247" alt="Portrait of Elizabeth Austin" /></figure>
    <p class="text-center">
      <script type="text/javascript">
  var _AoR = _AoR || {};
  _AoR.Seal = { memberKey: 'C7sxH1YWXhT01ZivUdlAIw', style: 'member' };
</script>
<script type="text/javascript" src="https://members.aor.org.uk/widgets/seal.min.js"></script>
    </p>

    <p><a href="https://www.homeopathy-soh.org/"><img src="/assets/images/sochomeopaths.jpg" width="195" height="53" alt="Society of Homeopaths logo" /></a></p>

    <blockquote>
      <p>The natural force within each of us is that greatest  healer of all</p>
      <cite>Hippocrates (Ancient Greek physician)</cite>
    </blockquote>


      
    </div>
</section>
<!-- Regular page promotions on front page -->
<div class="gallery--list gallery--front">

<!-- order galleries by frontpageorder -->
{% assign pages = site.pages | sort: 'frontpageorder' %}
{% for section in pages %}

  {% if section.frontpage %}

    <section class="gallery--cover gallery--box gallery--boxfront has--cover" style="background-image: url({% if section.main_image_path %}{{ section.main_image_path }}{% else %}'https://placekitten.com/g/1200/300'{% endif %});">

      <a href="{{ section.url | prepend: site.baseurl }}">

        <div class="scrim has--cover">
          <article class="gallery--front">
            <header class="gallery--header">
              <h2 class="cover--title mb0">{{ section.frontpagetitle }}</h2>
            </header>
            {% if section.homepage_description_markdown %}
              {{ section.homepage_description_markdown | markdownify }}
              <span class="post--readmore">Read more <span> <svg class="icon icon--post"><use xlink:href="#icon-double_angle_right" /></svg></span>

            {% endif %}
        </span>
      </article>
      </div>
      </a>
    </section>

  {% endif %}

{% endfor %}
</div>