---
layout: home
main_image_path:
main_image_caption:
show_carousel: false
show_blog: false
posts_number: 2
carousel:
  - image:
    caption:
    alink:
_options:
  layout:
    hidden: true
  image_path:
    uploads_dir: "assets/images/:year"
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  main_image_path:
    uploads_dir: "assets/images/:year"
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  content:
    uploads_dir: "assets/:year"
_comments:
  main_image_path: Cover image
  main_image_caption: Alt text for cover image
  carousel: Edit the slideshow
  show_carouse: Show the slideshow
  show_blog: Show your latest posts on the homepage
  posts_number: How many posts to show
  alink: Optional web link from the slide
  caption: optional caption
---


  <div class="editable">
    <p>Welcome to treatments of Reflexology, Reiki healing and Homeopathy provided by an experienced and registered practitioner of complementary medicine.<br><br>
  Lizzie Austin MAR, RSHom</p>
    <p>As a qualified practitioner of Homeopathy for many years, I trained more recently in Reflexology and Reiki, and have been amazed at the results. </p>
    <p>I have therefore increased my focus on reflexology both of the feet and the face; also using crystals with reflexology; as well as combining Reiki healing with reflexology treatments.</p>
    <p>My website will offer information about how these therapies may help you, your family and your friends achieve greater health, wellbeing and relief from stress.</p>

     <p>Not sure if Reflexology or Homeopathy can help you?<br>
Call me for honest, professional advice on 07780 542068</p>

<p>People often seek help from reflexology, homeopathy, reiki or other complementary therapies as a form of prevention, as well as for existing conditions previously diagnosed by their medical practitioner. I will always direct patients to their medical practitioner or GP whenever necessary in order to have tests or discuss options.</p>

<p>Contact Elizabeth Austin RSHom, MAR for professional advice about 
reflexology, homeopathy and reiki healing in Oxford<br>
 (MAR, RSHom: your guarantee of a trained, registered, insured healthcare professional)</p>

  </div>

    {% if page.show_carousel and page.carousel %}
    <section class="slideshow">
      <h2>This is a demo slideshow</h2>
      <div class="flexslider">
          <ul class="slides">
            {% for slides in page.carousel %}
            <li>
              {% if slides.alink %}
                 <a href="{{ site.baseurl }}{{ slides.alink }}" title="View project">
              {% endif %}
              {% include img.html src=slides.image width=960 alt=slides.caption %}
              {% if slides.alink %}
                </a>
              {% endif %}
              {% if slides.caption %}
                <p class="flex-caption">{% if slides.alink %}<a href="{{ site.baseurl }}{{ slides.alink }}" title="View project">{% endif %}{{ slides.caption }}{% if slides.alink %}&nbsp;<svg class="icon icon__white icon--readmore"><use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="#icon-double_angle_right" /></svg></a>{% endif %}</p>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>
      {% endif %}

      <!-- Regular page promotions on front page -->
      {% for section in site.pages %}

      {% if section.frontpage %}


        <section class="gallery--cover has--cover" style="background-image: url({% if section.main_image_path %}{{ section.main_image_path }}{% else %}'https://placekitten.com/g/1200/300'{% endif %});">

          <a href="{{ section.url | prepend: site.baseurl }}">

            <div class="scrim has--cover">
              <article class="gallery--front">
                <header class="gallery--header">
                  <h2 class="cover--title mb0">{{ section.frontpagetitle }}</h2>
                </header>
                {% if section.homepage_description_markdown %}
                  {{ section.homepage_description_markdown | markdownify }}
                  <span class="post--readmore">Read more <span> <svg class="icon icon--post"><use xlink:href="#icon-double_angle_right" /></svg></span>

                {% endif %}
            </span>
          </article>
          </div>
          </a>
        </section>

      {% endif %}

    {% endfor %}



{% if page.show_blog %}

    <section class="blog blog--home">

      <div class="editable">
        <h2>Latest news</h2>
      </div>

      <ul class="posts--list">

        {% for post in site.posts limit:page.posts_number %}

         {% unless post.categories contains 'Archive' %}

          {% include post_excerpt.html %}

        {% endunless %}

        {% endfor %}

      </ul>
      <p><a href="/news/">Read all news&nbsp;&raquo;</a></p>

    </section>
    {% endif %}