
/* Bourbon Bitters overrides - files in base - eventually ditch base directory and move all in here  */

// reset these now we've added new variables


/* ED logo */

.sponsor a:link { color:#333; text-decoration:none; }
.sponsor a img { text-decoration:none; border:none; }
.sponsor { font-size:smaller; }

aside { padding:0.5em 0 0; }
aside, nav { display:block; }


.left { 
	margin-right:1em; 
	margin-bottom:1em; 
	text-align:center; 
}

.sidebar { font-size:0.9em; }
.sidebar p { padding-right:0.5em; } 
.sidebar h3 { font-size:1.2em; margin-top:0.5em; }


div.advert p { font-size:small; color:#666; text-align:center;}

.button {
	@include bbb_flat_style($cta-color, $white);
}
