
.front {

    
    .scrim {
        padding: 20em 0 0 0;
    }

}

.columns {
    @include grid-media ($small) {
        display: flex;

        div {
            margin: 1%;
        }
    }
}
.half {
    @include grid-media ($small) {
        flex: 1;
    }
}
.one-third {
    @include grid-media ($small) {
        flex: 0 1 23%; 
    }
}
.two-thirds {
    @include grid-media ($small) {
        flex: 0 1 73%;
    }
}