

.page--content {
  max-width: 1200px;
  padding: 0;
  padding-bottom: 120px;
  margin: 0 auto;
  flex: 1 0 auto;
  width: 100%;
  background-color: $page-background-color;
}
.container { 
  /*
  background:#fff; -moz-border-radius: 1em;-webkit-border-radius: 1em; 
  border-radius: 1em; 
  border:1px solid #fff; 
  -webkit-box-shadow:3px 3px 6px #666; 
  -moz-box-shadow:3px 3px 6px #666; 
  box-shadow: 3px 3px 6px #666; 
  */
}
.page {
   padding: 0 1em 1em;
   max-width: 56em;
   margin: 0 auto;
  @include grid-media ($small) {
    padding: 1em;
  }
}
.page--header {
  padding-bottom: 1.5em;
}
.page--title {
  margin-bottom: 0.2em;
}

