figure {
  margin: 0 0 1.5em;
  text-align: center;
}

.caption, figcaption { 
  font-style: italic;
  display: block; 
  margin-top: 0.5em; 
  padding: 0.5em 0; 
  background: #99C0C5; 
  font-style: italic; 
  font-size: 0.9em;  
  text-align: center;
}
img,
picture {
  margin: 0;
  max-width: 100%;
  height: auto;
}
.video--responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

div.left { 
  @include grid-media ($small) {
    float:left; 
    padding:0 0.5em 0 0; 
  }
}
div.right { 
  @include grid-media ($small) {
    float:right; 
    padding-left:0.5em;
  } 
}